<ion-header>
  <ion-toolbar>
    <ion-title>nInv</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Inserisci un numero(N)</ion-label>
          <ion-input [(ngModel)]="n"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Numero Inverso</ion-label>
          <ion-input [value]="nInv"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Risultato</ion-label>
          <ion-input [value]="risultato"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button (click)="invertiNumero()">Inverti Numero</ion-button>
    </ion-row>
  </ion-grid>

</ion-content>
