
<ion-content>
  <ion-card class="favCard">
    <ion-card-header>
      <img src="assets/icon/logo.png" style="padding-left:6em ;">
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-item>
            <ion-label position="floating">Inserisci un numero(N)</ion-label>
            <ion-input [(ngModel)]="n"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label position="floating">Numero Inverso</ion-label>
            <ion-input [value]="nInv"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label position="floating">Risultato</ion-label>
            <ion-input [value]="risultato"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-button (click)="invertiNumero()" style="padding-left:2em ; padding-top: 1em;">Inverti Numero</ion-button>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
