#container{
    background-color: cornflowerblue;
    
}

#lineaInput{
    padding-top: 100px; 
    padding-bottom: 20px;
}

ion-title{
    text-align: center;
    color: blue;
}

ion-button{
    padding-left: 45%;
    
}