<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm">
    <ion-grid class="set-grid">
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          <ion-item>
            <ion-label for="name" position="floating">Username</ion-label>
            <ion-input id="name" formControlName="username"></ion-input>
            <ion-icon slot="end" name="mail-outline"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col> </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
