<ion-header>
  <ion-toolbar>
    <ion-title>ok-no</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Inserisci un numero</ion-label>
          <ion-input [(ngModel)]="input"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Divisore</ion-label>
          <ion-input [(ngModel)]="divisore"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Risultato</ion-label>
          <ion-input [value]="risultato"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button (click)="inviaInput()">
        Invia input
      </ion-button>
    </ion-row>
  </ion-grid>

</ion-content>
